/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,700,300italic&subset=latin,latin-ext);
@import 'normalize-scss/normalize';
@import 'compass/css3/transform';
@import 'font-awesome-compass';
@import 'font-awesome';

$red: #e21b4d;
$yellow: #ffbf00;
$beige: #f5e4c4;
$bronze: #3f1b01;
$black: #000;
$white: #fff;
$gray: #ccc;
$content-width: 960px;

@mixin vertical-align {
  @include transform(translateY(-50%));
  position: relative;
  top: 50%;
}

html {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

body {
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 300;
  height: 100px;
  margin: 0;
  min-height: 100%;
  position: relative;
}

a,
a:link,
a:visited {
  color: $red;
  text-decoration: none;
}

a:focus {
  color: $red;
}

a:hover,
a:active {
  color: darken($red, 10%);
}

h1 {
  color: $yellow;
  font-size: 3em;
}

p {
  font-size: 1.4em;
  line-height: 2em;
}

table {
  font-size: 1.2em;
  width: 100%;

  th {
    border-bottom: 3px solid $red;
    padding: 5px;
  }

  tr:nth-child(-n+11) {
    font-size: 1.4em;
  }

  tr:nth-child(-n+4) {
    font-size: 1.6em;
  }

  tr:nth-child(even) {
    background: rgba(255, 255, 255, .1);
  }

  tr {
    border-bottom: 1px solid $yellow;

    td {
      padding: 10px;
    }
  }

  td:nth-child(2) {
    text-align: left;
  }
}

header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.top-menu {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1em;
  margin: 50px auto;
  text-align: right;
  text-shadow: 0 0 2px $black;
  text-transform: uppercase;
  width: $content-width;

  ul {
    list-style: none;
  }

  li {
    display: inline;
  }

  a:after {
    background: transparent;
    content: '';
    display: block;
    height: 2px;
    margin: 5px auto;
    transition: width .5s ease, background-color .5s ease;
    width: 0;
  }

  a:hover:after {
    background: $yellow;
    width: 100%;
  }

  a {
    display: inline-block;
    margin: 0 40px;
    position: relative;
    text-decoration: none;
  }

  li:last-child {
    a {
      margin-right: 0;
    }
  }
}

.logo {
  float: left;

  img {
    margin-top: -20px;
    width: 100px;
  }
}

.right-menu {
  // display: none;
  font-size: 1.4em;
  line-height: 2.8em;
  position: fixed;
  right: 20px;
  text-align: right;
  top: 20px;
  z-index: 1;

  ul {
    list-style: none;
  }

  li {
    position: relative;
  }

  a:after {
    color: darken($red, 20%);
    content: ' \02299';
    font-size: 1.6em;
    vertical-align: middle;
  }

  a:before {
    border-right: 2px solid darken($red, 20%);
    content: '';
    height: 1.7em;
    position: absolute;
    right: 8px;
    top: -.8em;
  }

  li:first-child a:before {
    border-right: 0;
  }

  a,
  a:visited,
  a:link {
    color: darken($white, 40%);
  }

  a:hover,
  a:focus,
  a:active {
    color: darken($white, 20%);
  }

  a:hover:after,
  a:focus:after,
  a:active:after {
    color: darken($red, 10%);
  }

  a.active {
    color: $white;
  }

  .active:after {
    color: $red;
  }
}

.bg-main {
  background: transparent url('../images/dark_wood.png') left top repeat;
  min-height: inherit;
  position: relative;
  width: 100%;
}

.center-wrapper {
  // @include vertical-align;
  margin: 0 auto;
  max-width: $content-width;
  min-height: 100%;
  text-align: center;
}

.content-wrapper {
  padding-bottom: 64px;
  padding-top: 120px;
}

footer {
  background: transparent;
  background: rgba(0, 0, 0, .3);
  bottom: 0;
  color: $gray;
  font-size: 1.4em;
  height: 14px;
  left: 0;
  line-height: 1em;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.date {
  color: $yellow;
  font-size: 4em;
  line-height: 1.5em;
  text-shadow: 0 0 5px $black;
}

.location {
  color: $red;
  font-size: 3em;
  line-height: 1.5em;
  text-shadow: 0 0 5px $black;
}

.rider {
  margin-bottom: 40px;
  position: relative;
  text-align: left;

  h1 {
    text-align: center;
  }
}

.social {
  font-size: 1.4em;
  line-height: 2em;

  i {
    font-size: 1.8em;
    vertical-align: middle;
  }

  span {
    margin-right: 20px;
    white-space: nowrap;
  }
}

.desc {
  float: left;
  margin: 30px 0;
  width: 50%;
}

.big-photo {
  float: right;
  text-align: right;
  width: 50%;

  img {
    background: transparent url('../images/loader.gif') center center no-repeat;
    height: 268px;
    width: 402px;
  }
}

.photos {
  margin-top: 50px;
  text-align: left;

  img {
    background: transparent url('../images/loader.gif') center center no-repeat;
    height: 147px;
    margin: 10px;
    width: 220px;
  }
}

.clear {
  clear: both;
}

.overlay {
  background: rgba(0, 0, 0, .7);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .image {
    bottom: 5%;
    left: 5%;
    position: absolute;
    right: 5%;
    text-align: center;
    top: 5%;
    width: auto;

    img {
      background: transparent url('../images/loader.gif') center center no-repeat;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .image-wrapper {
    max-height: 100%;
  }

  .close {
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    right: 50px;
    top: 20px;
  }

  .prev {
    cursor: pointer;
    font-size: 50px;
    left: 50px;
    position: fixed;
    top: 50%;
  }

  .next {
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    right: 50px;
    top: 50%;
  }

  .rating {
    bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
  }
}

.hidden {
  display: none;
}

.loading * {
  cursor: progress;
}

.sorting {
  font-size: 1.6em;
  text-align: left;

  ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin-left: 40px;
  }

  .active {
    border-bottom: 2px solid $yellow;
  }
}
